

@define-mixin icon $name: info, $fill: #90a4ae, $stroke: #fff, $sWidth: "0", $width: 1em, $height: 1em {
	content: " ";
	background-image: svg-load($name.svg, fill=$fill, stroke=$stroke, stroke-width=$sWidth, width=$width, height=$height);
	background-repeat: no-repeat;
	display: inline-block;
	width: $width;
	height: $height;
}

@define-mixin fi $icon {
	content: $icon;
	font-family: 'icomeh' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* FontAwesome Variables */


$fi-mail: "\e900";
$fi-plus-alt: "\e901";
$fi-minus-alt: "\e902";
$fi-read-more: "\e905";
$fi-download: "\e903";
$fi-alert: "\f02d";
$fi-chevron-down: "\f0a3";
$fi-info: "\f059";
$fi-link-external: "\f07f";
$fi-location: "\f060";
$fi-pencil: "\f058";
$fi-search: "\f02e";
$fi-sync: "\f087";
$fi-three-bars: "\f05e";
$fi-newspaper: "\e904";
$fi-file-text2: "\e926";
$fi-phone: "\e942";
$fi-mobile: "\e958";
$fi-floppy-disk: "\e962";
$fi-heart: "\e9da";
$fi-checkmark: "\ea10";
$fi-arrow-down: "\ea36";
$fi-arrow-right2: "\ea3c";
$fi-checkbox-checked: "\ea52";
$fi-checkbox-unchecked: "\ea53";
$fi-radio-checked: "\ea54";
$fi-radio-unchecked: "\ea56";
$fi-facebook2: "\ea91";
$fi-instagram: "\ea92";
$fi-twitter: "\ea96";
$fi-rss: "\ea9b";
$fi-youtube: "\ea9d";
$fi-wordpress: "\eab4";
$fi-linkedin: "\eac9";
$fi-pinterest: "\ead1";
$fi-chrome: "\ead9";
$fi-firefox: "\eada";
$fi-edge: "\eadc";
$fi-file-pdf: "\eadf";
$fi-file-word: "\eae1";
$fi-file-excel: "\eae2";
