.tile-icon {
	max-height: 90px;
	max-width: 90px;
	opacity: 0.7;
}

.tile {
	border: 5px solid #36474f;
	background-image: linear-gradient(335deg, rgba(0, 0, 0, 0.08) 50%, transparent 50%);
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
}

.tile:hover {
	background-image: linear-gradient(335deg, rgba(0, 0, 0, 0.06) 50%, transparent 50%);
}

.tile {
	animation-play-state: paused;
	animation-fill-mode: both;
}

.is-animating .tile {
	animation-play-state: running;
}

@include mui-series {
	// 2 second shake
	.tile:nth-child(1) {

		@include mui-queue(0.5s, 0s, fade, slide($direction: down));
	}

	.tile:nth-child(3) {

		@include mui-queue(0.5s, -0.2s, fade, slide($direction: down));
	}

	.tile:nth-child(2) {

		@include mui-queue(0.5s, -0.2s, fade, slide($direction: down));
	}

	.tile:nth-child(4) {

		@include mui-queue(0.5s, 0s, fade, slide($direction: down));
	}

	.tile:nth-child(5) {

		@include mui-queue(0.5s, -0.3s, fade, zoom);
	}
}
