

// .site-branding {
// 	//font-size: 1rem;
// 	align-items: center;
// 	//max-height: 100%;
//
// 	// @include xs {
// 	// 	font-size: 3vw;
// 	// }
// }

// .site-title {
// 	font-size: 2em;
// }
//
.site-description {
	opacity: 0;
	//transform: translateY(-2rem);
	transition: opacity .2s;
}

.custom-logo {
	height: 2.5rem;
	width: auto;
	transition: height .2s linear;
}

// .site-header {
// 	height: 3.5rem;
//
// 	@include md {
// 		height: 4rem;
// 	}
// }

.home .site-header.is-top {
	padding-bottom: 2rem;
	// height: 4rem;

	.custom-logo {
		height: 3.5rem;
	}

	.site-description {
		opacity: 1;
		//transform: translateY(0);
		transition: opacity 0.2s linear;
	}
}

.site-header:not(.is-top),
body:not(.home) {
	.site-description {
		height: 0;
		opacity: 0;
		overflow: hidden;
	}
}

	// .site-branding {
	// 	font-size: 0.8rem;
	//
	// 	@include xs {
	// 		font-size: 3vw;
	// 	}
	// }
//}
