

.tile-icon {
    max-height: 90px;
    max-width : 90px;
    opacity: .7;
}


.tile {
    border: 5px solid #36474f;
    background-image: linear-gradient(335deg, rgba(0,0,0, 0.08) 50%, transparent 50%);
    transition: box-shadow 0.2s cubic-bezier(.4, 0, 1, 1);
}

// .tile:first-of-type  {
//     background-image: linear-gradient(345deg, rgba(0,0,0, 0.08) 50%, transparent 50%);
//   }
// .tile:nth-of-type(2)  {
//     background-image: linear-gradient(340deg, rgba(0,0,0, 0.08) 50%, transparent 50%);
//   }
// .tile:nth-of-type(3)  {
//     background-image: linear-gradient(335deg, rgba(0,0,0, 0.08) 50%, transparent 50%);
//   }
// .tile:nth-of-type(4)  {
//     background-image: linear-gradient(330deg, rgba(0,0,0, 0.08) 50%, transparent 50%);
//   }

.tile:hover {
    //opacity: 0.9;
    background-image: linear-gradient(335deg, rgba(0,0,0, 0.06) 50%, transparent 50%);
}
