
.site-description {
	opacity: 0;
	//transform: translateY(-2rem);
	transition: opacity .2s;
}

.custom-logo {
	height: 2.5rem;
	width: auto;
	transition: height .2s linear;
}

.home .site-header.is-top {
	padding-bottom: 2rem;
	// height: 4rem;

	.custom-logo {
		height: 3.5rem;
	}

	.site-description {
		opacity: 1;
		//transform: translateY(0);
		transition: opacity 0.2s linear;
	}
}

.site-header:not(.is-top),
body:not(.home) {
	.site-description {
		height: 0;
		opacity: 0;
		overflow: hidden;
	}
}
