

/* FontAwesome Variables */

.o-list-group.bullet-cross > li::before {
	content: " ";
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='%2390a4ae' width='1em' height='1em'%3E%3Cpath d='M5.979 10.974v5.021h7.041v11.99h5.042v-11.99h6.958v-5.021h-6.958V4.016H13.02v6.958H5.979z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	display: inline-block;
}

.o-list-group.bullet-heart > li::before {
	content: " ";
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='%2390a4ae' width='1em' height='1em'%3E%3Cpath d='M22.65 2.75c-2.943 0-5.476 2.424-6.65 4.955-1.173-2.531-3.707-4.955-6.65-4.955C5.293 2.75 2 6.084 2 10.192 2 18.548 10.326 20.739 16 29c5.365-8.21 14-10.719 14-18.808 0-4.108-3.293-7.442-7.35-7.442z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	display: inline-block;
}

p a[href*="//"]:not([href*="charlottediocese.org"]):not([href*="catholicnewsherald.com"]):not([href*="wpengine.netdna-ssl.com"]):not([href*="charlottediocese.dev"])::after {
	content: "\f07f";
	font-family: 'icomeh' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 0.8em;
	opacity: 0.6;
}

a[href*="catholicnewsherald.com"]:not([class]):before {
	content: "\e904";
	font-family: 'icomeh' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.gform_save_link::before {
	content: "\e962";
	font-family: 'icomeh' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.show-icons a[href*="/parishes/"]:before,
.icon-parish:before {
	content: " ";
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='%2390a4ae' stroke='%23fff' stroke-width='0' width='1em' height='1em'%3E%3Cpath d='M16 2L2 13.737V30h28V13.737zm-2.462 5.69h4.924v6.07h5.862v4.417h-5.862v10.67h-4.924v-10.67H7.676V13.76h5.862z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	display: inline-block;
	width: 1em;
	height: 1em;
}

.show-icons a[href*="/schools/"]:before,
.icon-school:before {
	content: " ";
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2390a4ae' class='tile-icon v-icon' viewBox='0 0 48 48' stroke='%23fff' stroke-width='0' width='1em' height='1em'%3E%3Cpath d='M47.01 44.23H.99a.99.99 0 1 1 0-1.98h46.02a.99.99 0 1 1 0 1.98zm0 3.77H.99a.99.99 0 1 1 0-1.98h46.02a.99.99 0 1 1 0 1.98zm0-25.753H34.996V15.56h.815a.99.99 0 0 0 .31-1.936L24.41 8.296a.994.994 0 0 0-.82 0L11.78 13.67a.99.99 0 0 0 .409 1.89h.815v6.687H.99a.99.99 0 0 0-.99.99v16.606c0 .547.443.99.99.99h18.278V30.53c0-.58.443-1.048.99-1.048h7.484c.547 0 .99.47.99 1.048v10.302H47.01a.99.99 0 0 0 .99-.99V23.237a.99.99 0 0 0-.99-.99zM6.518 37.02a.99.99 0 1 1-1.98 0v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584a.99.99 0 1 1-1.98 0v-2.812a.99.99 0 1 1 1.98 0v2.812zm4.334 6.585c0 .548-.442.99-.99.99s-.99-.442-.99-.99v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584c0 .548-.442.99-.99.99s-.99-.442-.99-.99v-2.812a.99.99 0 1 1 1.98 0v2.812zm4.334 6.585a.99.99 0 1 1-1.98 0v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584a.99.99 0 1 1-1.98 0v-2.812a.99.99 0 1 1 1.98 0v2.812zm5.472-5.402a.99.99 0 1 1-1.98 0v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584a.99.99 0 1 1-1.98 0v-2.813a.99.99 0 1 1 1.98 0v2.813zm4.334 6.584a.99.99 0 1 1-1.98 0v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584a.99.99 0 1 1-1.98 0v-2.813a.99.99 0 1 1 1.98 0v2.813zm4.333 6.584a.99.99 0 1 1-1.98 0v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584a.99.99 0 1 1-1.98 0v-2.813a.99.99 0 0 1 1.98 0v2.813zm5.472 18.57a.99.99 0 1 1-1.98 0v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584a.99.99 0 1 1-1.98 0v-2.812a.99.99 0 1 1 1.98 0v2.812zm4.333 6.585a.99.99 0 1 1-1.98 0v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584a.99.99 0 1 1-1.98 0v-2.812a.99.99 0 1 1 1.98 0v2.812zm4.333 6.585a.988.988 0 1 1-1.978 0v-2.81a.99.99 0 1 1 1.98 0v2.81zm0-6.584a.988.988 0 1 1-1.978 0v-2.812a.99.99 0 1 1 1.98 0v2.812z'/%3E%3Cpath d='M24 10.187a.99.99 0 0 1-.99-.99V.99a.99.99 0 1 1 1.98 0v8.208a.99.99 0 0 1-.99.99z'/%3E%3Cpath d='M23.217 4.366V2.75c.597 0 1.08-.393 1.08-.88 0-.486-.482-.88-1.08-.88H17.81c-.598 0-1.08.394-1.08.88v3.377c0 .486.48.88 1.08.88h5.408c.597 0 1.08-.394 1.08-.88 0-.488-.484-.88-1.08-.88z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	display: inline-block;
	width: 1em;
	height: 1em;
}

.facetwp-checkbox {
	background: none !important;
}

.facetwp-checkbox::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	min-width: 1em;
	width: 1em;
	height: 1em;
	background-color: rgba(245, 245, 245, 0.8);
	border: 0.0625rem solid rgba(183,198,205,.9);
	padding: 0;
	margin: 0;
	background-size: contain;
	margin-right: 0.5em;
	border-radius: 0.2rem;
}

.facetwp-checkbox.checked::before {
	content: "\ea10";
	font-family: 'icomeh' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
}

.btn > p {
	margin: 0!important;
	padding: 0!important;
}

.header__menu-toggle > .icon-sm {
	margin: 0;
}

#page .card-img > a:before {
	content: none;
}
