
.archive .type-department,
.taxonomy-agency article,
.archive-department article {
	overflow: hidden;
	display: flex;
	max-height: 6.25rem;

	@include md {
		max-height: 6.25rem;
	}
}

.taxonomy-agency .thumbnail,
.archive-department article .thumbnail,
.archive .type-department > .thumbnail {
	width: 6.25rem;
	height: 6.25rem;
	max-width: 33.33%;
}

.title-text.u-flex-col {
	flex-direction: column-reverse;
}

.doc-embed {
	@include md {
		height: 80vh;
	}
}
