.site-header {
	position: fixed;
}

.home .site-header.is-top,
.home .site-header:not(.fadeInDown) {
	position: absolute;
}

.contact-link.u-inline-flex {
	min-width: 150px;
	justify-content: space-around;
	align-items: center;
}

.o-list-steps li:before {
	border: 0.0625rem solid #a2b5be;
	background: none;
	color: inherit;
	min-width: 2.5em;
	height: 2.5em;
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.singular-document-11713 .document_category-chapter,
.singular-document-11713 .document_category-appendix {
	display: none;
}

.layout-2-card-row .entry-content,
.layout-3-card-row .entry-content {
	padding: 0;
}

.layout-2-card-row article,
.layout-3-card-row article {
	background: none;
	box-shadow: none;
}

.school_system-macs .school-system-logo {
	color: #112a57;
}

body {
	background-size: cover;
}

.home .site-header.is-top {
	background-color: transparent !important;
}

.site-header::after {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.site-header.u-fixed::after {
	opacity: 1;
}

.article-hero {
	min-height: 55vh;
	box-shadow: inset 0 -3px 10px 2px rgba(0, 0, 0, 0.2);
}

.site-content {
	min-height: 100vh;
	padding-top: 3.5rem;

	@media (--md) {
		padding-top: 4rem;
	}
}

.home .site-content {
	padding-top: 4rem;

	@media (--md) {
		padding-top: 5.5rem;
	}
}

.page-numbers {
	vertical-align: bottom;
	padding: 0.5rem;
	color: inherit;
	display: inline-block;
	font-size: 1.75rem;
	font-weight: 400;
	border-radius: 0.125rem;
}

a.page-numbers:hover {
	background-color: rgba(144, 164, 174, 0.3);
}

span.page-numbers {
	font-weight: 600;
	opacity: 0.6;
}

.singular-page.layout-1-column-wide article {
	background-color: transparent;
}

nav.navigation.pagination {
	width: 100%;
	text-align: center;
	font-size: 1.1rem;
	font-weight: bold;
}

.login-links a {
	display: inline-block;
}

.section-row.u-bg-white {
	background-color: rgba(255, 255, 255, 0.9);
}

#content.widecolumn {
	background-color: white;
	text-align: center;
	padding: 1.5rem;
}

.singular-department-10416 .site-main {
	display: flex;
	flex-direction: column-reverse;
}

.arch-no-title .o-crop--16x9 {
	padding-top: 0;
}

.arch-no-title .o-crop__content {
	position: relative;
}

.entry-summary #loginform {
	display: none;
}

.singular-gravityview .gv-container-no-results {
	display: block !important;
}

.members-access-error {
	background-color: #fff;
	border-radius: 0.2rem;
	padding: 1rem;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.intro-paragraph,
.u-lead {
	font-size: 1.25rem;
	letter-spacing: 0.02em;
}

.js-houdini .collapse.active {
	overflow-y: auto;
}

.archive-document .archive-description {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.u-ws-normal {
	white-space: normal;
}

.u-mobile-max {
	max-width: 300px;
}
