.mdl-card {
    display               : flex;
    flex-direction        : column;
    min-height            : 200px;
    overflow              : hidden;
    width                 : 330px;
    z-index               : 1;
    position              : relative;
    background            : #fff;
    border-radius         : 2px;
}

.mdl-card__media {
    background-color     : rgb(255,64,129);
    background-repeat    : repeat;
    background-position  : 50% 50%;
    background-size      : cover;
    background-origin    : padding-box;
    background-attachment: scroll;
}

.mdl-card__title {
    align-items               : center;
    display                   : flex;
    justify-content           : stretch;
    padding                   : 1rem;
}

.mdl-card__title-text {
    align-self              : flex-end;
    display                 : flex;
    overflow                : hidden;
}

.mdl-card--expand {
    flex-grow        : 1;
}

.mdl-card__menu {
    position: absolute;
    right   : 1rem;
    top     : 1rem;
}
