



  // .tile:first-of-type  {
  //       @include mui-animation(fade($from: 0, $to: 1));
  //       animation-duration: 2s;
  //   }
  // .tile:nth-of-type(2)  {
  //       @include mui-animation(fade($from: 0, $to: 1));
  //       animation-duration: 1s;
  //   }
  // .tile:nth-of-type(3)  {
  //       @include mui-animation(fade($from: 0, $to: 1));
  //       animation-duration: 2.5s;
  //   }
  // .tile:nth-of-type(4)  {
  //       @include mui-animation(fade($from: 0, $to: 1));
  //       animation-duration: 3s;
  //       // animation-play-state: running;
  //       //     animation-fill-mode: both;
  //   }
  // .spin   { @include mui-queue(1s, 2s, spin()); }
  // .wiggle { @include mui-queue(wiggle); }

// .tile {
//     //@include mui-fade(in, $duration: 1s);
//     width     : 24vw;
//     height    : 24vw;
//     //transition-delay: 0.3s;
// 	//opacity:0;
//     //transition: box-shadow 0.2s cubic-bezier(.4, 0, 1, 1), background-color 0.2s cubic-bezier(.4, 0, .2, 1), opacity 1s cubic-bezier(.4, 0, .2, 1), color 0.2s cubic-bezier(.4, 0, .2, 1);
// }

.tile-icon {
    max-height: 90px;
    max-width : 90px;
}


.tile {
    transition: box-shadow 0.2s cubic-bezier(.4, 0, 1, 1), opacity 0.2s cubic-bezier(.4, 0, .2, 1), color 0.2s cubic-bezier(.4, 0, .2, 1);
}

.tile:hover {
    opacity: 0.9;
}
