.mdl-mega-footer--heading-checkbox:checked ~ div,
.mdl-mega-footer__heading-checkbox:checked ~ div {
    display: none;
}

@media screen and (min-width: 760px) {
    .mdl-mega-footer--heading-checkbox:checked ~ div,
    .mdl-mega-footer__heading-checkbox:checked ~ div {
        display: block;
    }
}

.mdl-mega-footer__drop-down-section > div:empty {
    display: none;
}

.account-dropdown:after {
    display   : block;
    position  : absolute;
    right     : 0;
    bottom    : 0;
    top       : 0;
    width     : 30px;
    content   : "";
    background: linear-gradient(to right, rgba(61, 153, 112, 0), rgba(61, 153, 112, 1));
}

button.simplefavorite-button {
    padding         : 0;
    background-color: transparent;
}

/**
 * Dropdown content
 */
.dropdown-menu-basic {
    min-width  : 200px;
    position   : absolute;
    text-align : left;
}

.dropdown-menu-basic.is-active {
    z-index: 1000;
}

.dropdown-menu-basic.dropdown-right {
    left : auto;
    right: 0;
}

.dropdown-menu-basic > .widgets {
    display: none;
}

.dropdown-menu-basic.is-active > .widgets {
    display: block;
}

.dropdown-menu-basic ul,
.dropdown-menu-basic section {
    list-style : none;
    margin-left: 0;
}

.acf-map {
    width : 100%;
    height: 400px;
    border: #ccc solid 1px;
    margin: 20px 0;
}

.nav-links {
    display        : flex;
    justify-content: space-around;
}

.post-navigation {
    width: 100%;
}

.pagination > .nav-links {
    max-width  : 300px;
    align-items: center;
    margin     : 0 auto;
}



body {
    background-size: cover;
}





// .layout-1-column-wide .entry {
//     background-color: transparent;
// }
.gv-list-view-content-description {
    width: 100%;
}

span.gv-field-label:empty {
    display: none;
}

.gv-list-view-content h4 {
    margin: 0;
}
// span.facetwp-alpha {
//   font-size: 1.2rem;
//   color: #a5a5a5;
//   font-weight: bold;
// }
.material-icons {
    vertical-align: middle;
}

.mdl-button--mini-fab a {
    display: block;
    height : 40px;
}

// input.search-submit {
//     display: none;
// }

.mdl-card__title {
    flex-wrap: wrap;
}

.mdl-card__title-text {
    width: 100%;
}

.meta-nav.mdl-button.mdl-button--fab {
    background: none;
    box-shadow: none !important;
}

.navigation.pagination {
    padding      : 0.5rem;
    width        : 100%;
    background   : rgba(228,234,236, 0.8);
    margin-bottom: 1rem;
}

.mdl-card {
    min-height: auto;
}

.contact-map {
    color: black !important;
}



.gv-list-view-content {
    padding: 0;
}

.site-header .mdl-layout__drawer-button {
    background-color: transparent;
}

#bread,
#heart,
#music {
    visibility: hidden;
}

.rss-widget li {
    margin-bottom: 0.5em;
}

.rss-title img {
    display: none;
}

a.rsswidget {
    white-space: normal;
}

li > a.rsswidget {
    font-weight: 400;
}

.icon-sm {
    width     : 100%;
    max-width : 40px;
    max-height: 40px;
}

.icon-md {
    width     : 100%;
    max-width : 120px;
    max-height: 120px;
}

.icon-lg {
    width     : 100%;
    max-width : 260px;
    max-height: 260px;
}
// ul.gravityview-az-filter,
// .facetwp-type-alpha {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 20px;
//   flex-wrap: wrap;
// }
// span.facetwp-alpha {
//   font: 400 16px/24px Roboto, sans-serif;
//   color: #999;
// }
//
// ul.gravityview-az-filter li.gv-uppercase a,
// span.facetwp-alpha.available {
//   color: #3f51b5;
//   font-weight: 500 16px/24px Roboto, sans-serif;
// }
// ul.gravityview-az-filter li.gv-active a,
// span.facetwp-alpha.selected {
//   color: #222;
//   font-weight: 700;
// }
.gallery-cell {
    padding: 0 10px;
}
// .gallery-cell .mdl-card .u-px2.u-pb2 {
//     max-height: 400px;
//     overflow: hidden!important;
// }
/*! Flickity v1.1.1
http://flickity.metafizzy.co
---------------------------------------------- */
// .flickity-enabled {
//     position: relative;
// }
//
// .flickity-enabled:focus {
//     outline: none;
// }
//
// .flickity-viewport {
//     overflow: hidden;
//     position: relative;
//     height  : 100%;
// }
//
// .flickity-slider {
//     position: absolute;
//     width   : 100%;
//     height  : 100%;
// }
// /* draggable */
// .flickity-enabled.is-draggable {
//     -webkit-tap-highlight-color: transparent;
//     tap-highlight-color        : transparent;
//     -webkit-user-select        : none;
//     -moz-user-select           : none;
//     -ms-user-select            : none;
//     user-select                : none;
// }
//
// .flickity-enabled.is-draggable .flickity-viewport {
//     cursor: move;
//     cursor: -webkit-grab;
//     cursor: grab;
// }
//
// .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
//     cursor: -webkit-grabbing;
//     cursor: grabbing;
// }
// /* ---- previous/next buttons ---- */
// .flickity-prev-next-button {
//     position         : absolute;
//     top              : 50%;
//     width            : 44px;
//     height           : 44px;
//     border           : none;
//     border-radius    : 50%;
//     background       : white;
//     background       : hsla(0, 0%, 100%, 0.75);
//     cursor           : pointer;
//     /* vertically center */
//     -webkit-transform: translateY(-50%);
//     -ms-transform    : translateY(-50%);
//     transform        : translateY(-50%);
// }
//
// .flickity-prev-next-button:hover {
//     background: white;
// }
//
// .flickity-prev-next-button:focus {
//     outline   : none;
//     box-shadow: 0 0 0 5px #09f;
// }
//
// .flickity-prev-next-button:active {
//     filter:alpha(opacity=60);
//     /* IE8 */
//     opacity: 0.6;
// }
//
// .flickity-prev-next-button.previous {
//     left: 10px;
// }
//
// .flickity-prev-next-button.next {
//     right: 10px;
// }
// /* right to left */
// .flickity-rtl .flickity-prev-next-button.previous {
//     left : auto;
//     right: 10px;
// }
//
// .flickity-rtl .flickity-prev-next-button.next {
//     right: auto;
//     left : 10px;
// }
//
// .flickity-prev-next-button:disabled {
//     filter:alpha(opacity=30);
//     /* IE8 */
//     opacity: 0.3;
//     cursor : auto;
// }
//
// .flickity-prev-next-button svg {
//     position: absolute;
//     left    : 20%;
//     top     : 20%;
//     width   : 60%;
//     height  : 60%;
// }
//
// .flickity-prev-next-button .arrow {
//     fill: #333;
// }
// /* color & size if no SVG - IE8 and Android 2.3 */
// .flickity-prev-next-button.no-svg {
//     color    : #333;
//     font-size: 26px;
// }
// /* ---- page dots ---- */
// .flickity-page-dots {
//     position   : absolute;
//     width      : 100%;
//     bottom     : -25px;
//     padding    : 0;
//     margin     : 0;
//     list-style : none;
//     text-align : center;
//     line-height: 1;
// }
//
// .flickity-rtl .flickity-page-dots {
//     direction: rtl;
// }
//
// .flickity-page-dots .dot {
//     display      : inline-block;
//     width        : 10px;
//     height       : 10px;
//     margin       : 0 8px;
//     background   : #333;
//     border-radius: 50%;
//     filter:alpha(opacity=25);
//     /* IE8 */
//     opacity      : 0.25;
//     cursor       : pointer;
// }
//
// .flickity-page-dots .dot.is-selected {
//     filter:alpha(opacity=100);
//     /* IE8 */
//     opacity: 1;
// }
// /* big buttons, no circle */
// .flickity-prev-next-button {
//     width     : 100px;
//     height    : 100px;
//     background: transparent;
// }
//
// .flickity-prev-next-button:hover {
//     background: transparent;
// }
// /* arrow color */
// .flickity-prev-next-button .arrow {
//     fill: white;
// }
//
// .flickity-prev-next-button.no-svg {
//     color: white;
// }
// /* hide disabled button */
// .flickity-prev-next-button:disabled {
//     display: none;
// }
/*------------------------------------*
    #CROP
*------------------------------------*/
/**
 * Provide a cropping container in order to display media (usually images)
 * cropped to certain ratios.
 *
 * 1. Set up a positioning context in which the image can sit.
 * 2. This is the crucial part: where the cropping happens.
 */
.o-crop {
    position: relative;
    /* [1] */
    display : block;
    overflow: hidden;
    /* [2] */
    width   : 100%;
}
/**
 * A variety of different standard ratios to crop to.
 *
 * We use the `padding` trick to create a fluid-height container (`padding`s set
 * in percentages will track the current width of the element).
 */
.o-crop--1x1 {
    padding-top: 100%;
}

.o-crop--4x3 {
    padding-top: 75%;
}

.o-crop--16x9 {
    padding-top: 56.25%;
}
/**
 * Apply this class to the content (usually `img`) that needs cropping.
 *
 * 1. Positioning to the bottom usually gives consistently better results as
 *    most images’ subjects are toward the bottom of the frame. Of course,
 *    your mileage may vary.
 */
.o-crop__content {
    position: absolute;
    top     : 0;
    /* [1] */
    left    : 0;
    width   : 100%;
}

.contact-methods {
    height          : 0;
    background-color: #f1f1f1;
}

.archive .mdl-card__title {
    min-height: 80px;

    .mdl-card__title-text {
        align-self: flex-start;
    }
}

.entry {
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
    transition: box-shadow 0.2s cubic-bezier(.4, 0, 1, 1);
}

.entry.is-active {
    box-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
}

.archive-parish .entry_summary {
    display: none;
}

.archive-school .entry_summary {
    display: none;
}

.archive-department .entry_summary {
    display: none;
}

.archive-school .entry_header .thumbnail,
.archive-parish .entry_header .thumbnail,
.archive-department .entry_header .thumbnail,
 {
    max-width : 90px;
    max-height: 90px;
    padding   : 5px;
}

// .archive-vocation .flickity-viewport {
//     max-height: 500px;
//     overflow-y: hidden;
// }

.mdl-layout__container {
    position: relative;
}
// .layout__content {
//     padding-top: 200px;
// }
// .site-title {
//     font-size: 3em;
// }
// .site-header {
//     max-height: 1000px;
//     min-height: 64px;
//     transition-duration: .3s;
//     transition-timing-function: cubic-bezier(.4,0,.2,1);
//     transition-property: background-color,transform,max-height,box-shadow;
// }
// .site-header.is-top {
//     background-color: transparent!important;
//     position: absolute!important;
//     background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0)));
//     background-image: -webkit-linear-gradient(top,rgba(15,19,42,0.4),rgba(0,0,0,0));
//     background-image: -moz-linear-gradient(top,rgba(15,19,42,0.4),rgba(0,0,0,0));
//     background-image: -ms-linear-gradient(top,rgba(15,19,42,0.4),rgba(0,0,0,0));
//     background-image: -o-linear-gradient(top,rgba(15,19,42,0.4),rgba(0,0,0,0));
//     background: linear-gradient(to bottom,rgba(15,19,42,0.4),rgba(0,0,0,0));
//     filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='##000000',EndColorStr='##000000');
//     .site-branding {
//         font-size: 1rem;
//         transform: translate(50%,20vh);
//     }
// }
// .site-header.is-pinned {
//     transform: translateY(0);
//     position: fixed;
// }
// .site-header.not-pinned {
//     visibility: hidden;
//     transform: translateY(-100%);
// }
// .site-header.not-top {
//     max-height: 64px;
//     flex-direction: row!important;
//     background-color: rgba($color-1, 0.90);
//     &.is-pinned {
//         box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
//     }
//     .site-branding {
//         font-size: .5rem;
//         transform: translate(0,0);
//         transition-duration: .2s;
//         transition-timing-function: cubic-bezier(.4,0,.2,1);
//         transition-property: transform,font-size;
//     }
//     .site-description {
//         max-height: 0;
//         overflow: hidden;
//         opacity: 0;
//         transition-duration: .2s;
//         transition-timing-function: cubic-bezier(.4,0,.2,1);
//         transition-property: opacity;
//     }
// }
// .site-logo {
//     height: 8em;
// }
.logo-image {
    align-self: flex-start;
}

.menu-item__link {
    display    : block;
    padding    : 0 24px;
    line-height: 64px;
}


// .nav-wrap {
// 	max-height: 0;
//     overflow: hidden;
//     opacity: 0;
//     transition-duration: .3s;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     transition-property: max-height;
// }

// .nav-wrap.is-active {
// 	max-height: 100%;
// 	opacity: 1;
//     width  : 100%;
//     box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
// }

.menu-item {
    width: 100%;
}

@include md {
    .is-top .menu-toggle {
        // z-index: -1;
        // opacity: 0;
        visibility: hidden;
    }

.home .is-top ~ .menu-primary {
    background-color: transparent!important;
}
	// .nav-wrap {
	// 	max-height: 100%;
	// 	opacity: 1;
	// }

    #page .nav-menu.menu-primary__list {
        display         : block;
        background-color: transparent;
    }

    .menu-item {
        width: auto;
    }
}


.site-title {
    @include md {
    font-size: 3.6em;
    }
}

.site-branding {
    transition-duration       : 0.6s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property       : font-size;
    //margin-bottom             : 1rem;
}

.home .site-header.is-top {
    transition      : none;
    background-color: transparent !important;
    //position: absolute!important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(15, 19, 42, 0.4), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(15, 19, 42, 0.4), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(top, rgba(15, 19, 42, 0.4), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(15, 19, 42, 0.4), rgba(0, 0, 0, 0));
    background      : linear-gradient(to bottom, rgba(15, 19, 42, 0.4), rgba(0, 0, 0, 0));
    filter:progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr='##000000', endcolorstr='##000000');

    .site-branding {
        font-size: 1rem;
    }
}

.site-header.not-top,
body:not(.home) .site-header {
    .site-branding {
        font-size: 0.5rem;
    }

    .site-description {
        max-height                : 0;
        overflow                  : hidden;
        opacity                   : 0;
        transition-duration       : 0.2s;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        transition-property       : opacity;
    }
}

.site-logo {
    width: 8em;
}

.entry-header {
    width: 100%;
}

.format-aside .permalink {
    display: none;
}

.site-header {
    // @include mui-slide($state: in, $direction: down, $amount: 100%, $fade: true);
    // @include mui-slide($state: out, $direction: up, $amount: 100%, $fade: true);
    // @extend .mui-enter;
    // @extend .mui-leave;

    &::after {
        content   : '';
        position  : absolute;
        z-index   : -1;
        width     : 100%;
        height    : 100%;
        left      : 0;
        top       : 0;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
        opacity   : 0;
        transition: opacity 0.3s ease-in-out;
    }

    &.not-top::after {
        opacity: 1;
    }
}

// .search-form {
//     transition-duration: 0.3s;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     transition-property: all;
// }
//
// .not-top .search-form {
//     transform: translateY(-100%);
//     overflow: hidden;
//     max-height: 0;
//     opacity: 0;
//     .search-field {
//         opacity: 0;
//         transition: opacity .15s ease-out;
//     }
// }







.type-document {
    align-self: flex-start;
    //min-width: 47%;
}

.menu-primary__list li {
    @include md {
        display: inline-block;
    }
}

.widget ul,
.widget li {
    list-style: none;
    padding   : 0;
    margin    : 0;

    > a {
        width     : 100%;
        text-align: left;
    }
}

#page .gv-list-container,
#page .gv-grid {
    max-width: 100%;
}

.entry-content > .gv-grid {
    background-color: $lighten4;
    padding         : 1rem;
    border-radius: 2px;
    margin-bottom: 1rem;
}

.gv-grid.gv-list-view-content {
    padding: 0;
}

.gv-grid-col-2-3.gv-list-view-content-description {
    width  : 100%;
    padding: 0;
}

span.facetwp-counter {
    display: none;
}

#page .facetwp-facet:not(.facetwp-type-alpha) {
    margin-bottom: 2rem;
    min-width    : 50px;
    min-height   : 50px;
}

.facetwp-checkbox.checked {
    font-weight: bold;
}

.facetwp-checkbox {
    background: none !important;
}

.facetwp-checkbox:before {
    content       : "\E835";
    font-family   : 'Material Icons';
    padding-right : 5px;
    padding-left  : 0;
    vertical-align: top;
}

.facetwp-checkbox.checked:before {
    content    : "\E834";
    font-weight: 400;
    color      : #3f51b5;
}

#page .gv-uppercase > a,
#page .facetwp-alpha {
    color                     : inherit;
    opacity                   : 0.4;
    display: inline-block;
    float: none;
    line-height               : 1;
    padding                   : 8px;
    font-size                 : 16px;
    font-weight               : normal;
    border-radius             : 2px;
    font-family: inherit;
    //border-width              : 1px;
    margin-right: .5rem;
    border              : 1px solid transparent;
    background-color          : transparent;
    transition-duration       : 0.3s;
    cursor                    : default;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property       : color, background-color, border-color;
}

#page li.gv-uppercase > a,
#page .facetwp-alpha.available {
    opacity: 1;
    cursor : pointer;

    &:hover {
        background-color: rgba(13, 16, 18, 0.0625);
    }
}

#page .gv-active.gv-uppercase > a,
#page .facetwp-alpha.selected {
    background-color: rgba(255, 255, 255, 0.9);
    border-color    : #004899;
    font-weight     : bold;

    &:hover {
        background-color: rgba(255, 255, 255, 0.9);
        cursor: default;
    }
}

ul.gravityview-az-filter {
    margin-bottom: 1rem;
    display: inline-block;
}
.gv-widget-letter-links {
    text-align: center;
}

.flickity-prev-next-button {
    @include shadow-6dp();
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid $color-grey-light;
}


.is-active > a {
    font-weight: 700;
    border-bottom-color: currentcolor;
}




.mdl-mega-footer__drop-down-section {
  display: block;
  position: relative;
}

.mdl-mega-footer--heading,
.mdl-mega-footer__heading {
    position: relative;
    width: 100%;
    padding-right: 52px;
    margin-bottom: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mdl-mega-footer--heading:after,
.mdl-mega-footer__heading:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 36px;
    height: 36px;
    background-size: cover;
}

@include md {
    .mdl-mega-footer__drop-down-section {
        width: 33%;
    }
}

@include lg {
  .mdl-mega-footer__drop-down-section,
  .mdl-mega-footer__drop-down-section:nth-child(3),
  .mdl-mega-footer__drop-down-section:nth-child(4) {
    width: 24%;
  }
}

.mdl-mega-footer__heading-checkbox {
    position: absolute;
    width: 100%;
    height: 68px;
    padding: 32px;
    margin: 0;
    margin-top: -16px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;

    & + .mdl-mega-footer__heading:after {
      font-family: 'Material Icons';
      content: '\E5CE';
    }
}

.mdl-mega-footer__heading-checkbox:checked {
  // WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10
  // break consecutive "+" operators in some cases. Therefore, we need to use
  // both here to cover all the bases.
  // & + .mdl-mega-footer--heading + .mdl-mega-footer--link-list,
  // & + .mdl-mega-footer__heading + .mdl-mega-footer__link-list {
  //   display: none;
  // }

  & + .mdl-mega-footer--heading:after,
  & ~ .mdl-mega-footer--heading:after {
    font-family: 'Material Icons';
    content: '\E5CF';
  }
}

@include md {
  .mdl-mega-footer--heading-checkbox,
  .mdl-mega-footer__heading-checkbox {
    display: none;

    & + .mdl-mega-footer--heading:after,
    & + .mdl-mega-footer__heading:after {
      content: '';
    }
  }
  .mdl-mega-footer--heading-checkbox:checked,
  .mdl-mega-footer__heading-checkbox:checked {
    // WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10
    // break consecutive "+" operators in some cases. Therefore, we need to use
    // both here to cover all the bases.
    & ~ .mdl-mega-footer--link-list,
    & ~ .mdl-mega-footer__link-list,
    & + .mdl-mega-footer__heading + .mdl-mega-footer__link-list,
    & + .mdl-mega-footer--heading + .mdl-mega-footer--link-list {
      display: block;
    }

    & + .mdl-mega-footer--heading:after,
    & + .mdl-mega-footer__heading:after {
      content: '';
    }
  }
}
